{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ppsi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="PPSI Teja Timur Pamekasan"></a></div>
            <div class="menu">
                <ul>
                    <li><a href="#Menu">Menu</a></li>
                    <li><a href="#Profil">Profil</a></li>
                    <li><a href="#Ekstrakulikuler">Ekstrakulikuler</a></li>
                    <li><a href="#Kontak">Kontak</a></li>
                    <li><a href=""class="tbl-biru">sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!--untuk home-->
        <section id="Menu">
            <img src="logo.jpg" width="20%">
            <div class="kolom">
                <p class="Deskripsi"></p>
                <h2>Bumi Sholawat</h2>
            </div>
        </section>

        <!--untuk cources-->
        <section id="Profil">
            <div class="kolom">
                <p class="dekripsi"></p>
                <h2>profil pondok</h2>
                <p>Pondok Pesantren Sabilul Ihsan Teja Timur Pamekasan, merupakan salah satu Pondok Pesantren yang berada di Kabupaten Pamekasan</p>
                <p><a href="" class="tbl-biru">Pelajari lebih lanjut</a></p>
            </div>
        </section>

        <!--untuk ekstrakulikuler-->
        <section id="Ekstrakulikuler">
            <div class="tengah">
                <div class="kolom">
                    <h2>Ekstrakulikuler</h2>
                </div>\
                <div class="partner-list">
                    <div class="kartu-partner">
                        <img src="pramuka.jpg"/>
                    </div>
                    <div class="kartu-partner">
                        <img src="drumband.jpg"/>
                    </div>
                    <div class="kartu-tutor">
                        <img src="psma.jpg"/>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Tentang Sekolah</h3>
                    <p>Sekolah Tatakrama SMP_SMA Sabilul Ihsan merupakan sekolah yang didirikan pada tahun 2004 yang mana ...................................</p>
                </div>
                <div class="footer-section">
                    <h3>Alamat</h3>
                    <p>SMAS SABILUL IHSAN JL. RAYA JALMAK 150 TEJA TIMUR PAMEKASAN, Tejah Timur, Kec. Pamekasan, Kab. Pamekasan Prov. Jawa Timur</p>
                </div>
                <div class="footer-section">
                    <h3>Kontak</h3>
                    <pre>
                        <a href="https://www.youtube.com/@sabilulihsan3118/" style="color: rgb(10, 10, 10);"><i class="fa fa-Youtube large">youtube</i></a>
                        <a href=""></a>
                    </pre>
                </div>
            </div>
        </div>

    </div>
    <div id="Copy right">
        <div class="wrapper">
            &copy; 2022. <b>Sabilul Ihsan</b> All right Reserved.
        </div>
    </div>
</body>
</html>