{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ppsi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="text/css" href="{% static 'style3.css' %}">
    <html>
</head>

        <div class="wrapper">
            <div class="logo"><a href="PPSI Teja Timur Pamekasan"></a></div>
            <div class="menu" style="background-color: greenyellow;">
                <ul>
                    <li><img src="{% static 'image/logo.png' %}" width="10%"></li>
                    <li><a href="#Menu">Menu</a></li>
                    <li><a href="#Profil">Profil</a></li>
                    <li><a href="#Ekstrakulikuler">Ekstrakulikuler</a></li>
                    <li><a href="#Kontak">Kontak</a></li>
                    <li><a href=""class="tbl-biru">+62852-5932-0096</a></li>
                </ul>
            </div>
        </div>
</html>

    <div class="wrapper">
        <!--untuk home-->
        <section id="Menu">
            <img src="{% static 'image/logo.png' %}" width="10%">
            <div class="kolom">
                <p class="Deskripsi"></p>
                <h2> Pendaftaran Santri Baru PP. Sabilul Ihsan</h2>
            </div>
        </section>

        <section id="Pendaftaran">
            <div class="container-crud">
        
                <table id="customers" border="1">
                    <thead>
                        <th>Id</th>
                        <th>Nama</th>
                        <th>Tempat,Tanggal Lahir</th>
                        <th>Alamat</th>
                        <th colspan="2" id="mid">Action</th>
                    </thead>
                    {% for x in mem %}
                    <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.input1}}</td>
                        <td>{{x.input2}}</td>
                        <td>{{x.input3}}</td>
                        <td>
                            <a href="update/{{x.id}}"><button id="up">update</button></a>
                        </td>
                        <td>
                            <a href="delete/{{x.id}}"><button id="del">delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br><br>
                <a href="{% url 'add' %}"><button id="new3">Add Member</button></a>
            </div> 
            
           
        </section>

        <!--untuk cources-->
        <section id="Profil">
            <div class="kolom">
                <img src="" alt="">
                <p class="dekripsi"></p>
                <h2>Profil</h2>
                <img src="" alt="">
                <p>Pondok Pesantren Sabilul Ihsan Teja Timur Pamekasan, merupakan salah satu Pondok Pesantren yang berada di Kabupaten Pamekasan yang tepatnya berada di Desa Teja Timur Pamekasan. </p>
                <p><a href="" class="tbl-biru">Pelajari lebih lanjut</a></p> 
            </div>
        </section>

        <!--untuk ekstrakulikuler-->
        <section id="Ekstrakulikuler">
            <div class="tengah">
                <div class="kolom">
                    <h2>Ekstrakulikuler</h2>
                </div>
                <div class="partner-list">
                    <div class="kartu-partner">
                        <h3>Pramuka</h3>
                        <img src="{% static 'image/pramuka.png' %}" width='20%'>
                    </div>
                    <div class="kartu-partner">
                        <h3>Drumband</h3>
                        <img src="{% static 'image/drumband.jpg' %}" width='20%'>
                    </div>
                    <div class="kartu-tutor">
                        <h3>Paduan Suara Mutiara Agama</h3>
                        <img src="{% static 'image/psma.png' %}" width='20%'>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Alamat</h3>
                    <p> JL. RAYA JALMAK 150 TEJA TIMUR, -, Kec. Pamekasan, Kab. Pamekasan Prov. Jawa Timur</p>
                </div>
                <div class="footer-section">
                    <h3>Akun</h3>
                    <pre>
                        <p><a href="https://www.youtube.com/@sabilulihsan3118/" style="color: blue"><i class="fa fa-Youtube large">Youtube</i></a>
                        <a href=""></a></p>
                    </pre>
                    <pre>
                        <p><a href="https://www.facebook.com/profile.php?id=100011596244048&mibextid=5NY4jEj8SVMV44HD " style="color: blue"><i class="fa fa-Facebook">Facebook</i></a>
                        <a href=""></a></p>
                    </pre>
                </div>
            </div>
        </div>

    </div>
    <div id="Copy right">
        <div class="wrapper">
            &copy; 2022. <b>Sabilul Ihsan</b> All right Reserved.
        </div>
    </div>
</body>
</html>