<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!--untuk cources-->
     <section id="Profil">
        <div class="kolom">
            <img src="{% static'image/pengasuh.png' %}">
            <p class="dekripsi"></p>
            <h2>Profil</h2>
            <p>Pondok Pesantren Sabilul Ihsan Teja Timur Pamekasan, merupakan salah satu Pondok Pesantren yang berada di Kabupaten Pamekasan yang tepatnya berada di Desa Teja Timur Pamekasan. </p>
            <p><a href="" class="tbl-biru">Pelajari lebih lanjut</a></p> 
        </div>
    </section>
</body>
</html>