{% load static% }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!--untuk cources-->
     <section id="Profil">
        <div class="kolom">
            <img src="{% static'image/pengasuh.png' %}">
            <p class="dekripsi"></p>
            <h2>Profil</h2>
            <p>Pondok Pesantren Sabilul Ihsan Teja Timur Pamekasan, merupakan salah satu Pondok Pesantren yang berada di Kabupaten Pamekasan yang tepatnya berada di Desa Teja Timur Pamekasan Madura Jawa Timur. Pondok Sabilul Ihsan berdiri pada tahun 2006 dan merupakan pondok kedua setelah Pondok Pesantren Nasyrul Ulum Bagandan. </p>
            <p>Sejarah singkat berdirinya POndok Pesantren tersebut, karena dulunya ada orang yang menginjakkan tanahnya dan orang tersebut berbatin dalam dirinya ingin tanah tersebut dibuat Masjid dan Pesantren.
                Dan sekarang bukan hanya mendirikan Pondok Pesantren, tapi juga ada Sekolah Formal mulai dari jenjang SMP sampai jenjang SMA, dan sudah banyak melahirkan kader-kader yang berkualitas, bahkan ada juga alumni yang mendirikan Pondok Pesantren di Kalimantan
            </p>
            <p><a href="" class="tbl-biru">Pelajari lebih lanjut</a></p> 
        </div>
    </section>
</body>
</html>