/* Gaya Dasar */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Gaya untuk Bagian Profil */

#Profil {
    text-align: center;
    padding: 20px;
}

.kolom {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

.tbl-biru {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Gaya Responsif */

@media only screen and (max-width: 600px) {
    .kolom {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
}
